*{
    font-family: 'Press Start 2P', monospace !important;
    -webkit-font-smoothing: none; 
    text-rendering: geometricPrecision;
}

body{
    width:100%;height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:40px;
    background-color: rgb(255, 250, 215);
}


.logo{
    font-size:40px;
    letter-spacing:3px;
    text-align:center;
}
.logo span{color:#ffd166;}


.btn-start{
    padding:18px 40px;
    font-size:18px;
    background:#ffd166;
    border:none;
    cursor:pointer;
    transition:transform .15s;
}
.btn-start:hover{transform:translateY(-4px);}
.btn-start:active{transform:translateY(2px);}


.select-wrap{
    padding-top:40px;
    text-align:center;
}
.sel-title{
    font-size:40px;
    margin-bottom:40px;
    color :rgb(146, 58, 34);
}



.egg-row{
    display:flex;
    justify-content:center;
    gap:40px;
}


.egg-card{
    background:#fff879;
    padding:14px;
}


.egg-card img{
    width:100%;
    height:160px;
    object-fit:contain;
    image-rendering:pixelated;
}


.egg-card:hover{
    transform:translateY(-6px);
    box-shadow:0 8px 20px rgba(119, 54, 4, 0.548);
}


.egg-card p{
    margin-top:14px;
    font-size:22px;
    color: rgb(219, 118, 3);
}